*{
    margin: 30px, 60px, 0, 0;
    padding: 0;
    box-sizing: border-box;
}
.out{
    width: 300px;
}
.out1{
    width: 300px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
btn{
    width: 300px;
}

.btns{
    width: 57px;
    height: 30px;
    justify-items: center;
    margin-top: 20px;
    margin-left: 20px;
    
   
}
.btns1{
    background-color: orange;
}.enclo{
    background-color: beige;
 width: 350px;
}